# Environment Configuration
NODE_ENV=development

# Google Cloud
GOOGLE_CLOUD_PROJECT_ID=

# Twitter API Credentials
TWITTER_API_KEY=
TWITTER_API_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=

# Application Settings
LOG_LEVEL=info
